<section class="about-show">
  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <article class="about-detail">
  <p>We carry the finest plants within the jungle</p>   
  </article>

  <article>
  <h2>Contact Us</h2>
  <p>1155 homer st</p>
  <p>Vancouver, BC </p>
  <p>V6J 1M7</p>
  <p>Canada</p>
  <p>604.583.5833</p>
  <p>jungleplants@gmail.com</p>

</section>
